.cards-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

gap:22px;

margin-bottom:35px;

}

.dashboard-card{

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.35s;

cursor:pointer;

}

.dashboard-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.card-top{

display:flex;

justify-content:space-between;

align-items:center;

}

.card-top h4{

margin:0;

color:#64748b;

font-size:16px;

}

.card-top h2{

margin-top:10px;

font-size:34px;

color:#0f172a;

}

.card-icon{

width:60px;

height:60px;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

border-radius:16px;

color:white;

}

.card-bottom{

margin-top:20px;

display:flex;

justify-content:space-between;

align-items:center;

}

.trend{

background:#dcfce7;

color:#16a34a;

padding:6px 14px;

border-radius:20px;

font-weight:bold;

font-size:14px;

}