.pie-header{

margin-bottom:25px;

}

.pie-header h2{

font-size:26px;

color:#0f172a;

margin-bottom:6px;

}

.pie-header p{

font-size:15px;

color:#64748b;

}

.pie-chart{

width:100%;

height:330px;

display:flex;

justify-content:center;

align-items:center;

}

.pie-chart canvas{

max-width:260px !important;

max-height:260px !important;

}

.pie-loading{

height:330px;

display:flex;

justify-content:center;

align-items:center;

font-size:18px;

color:#64748b;

}